.avatar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.avatar-wrapper:first-child {
    margin-bottom: 10vh;
}

.avatar.update-type {
    font-family: Galmuri11-Bold, serif;
    font-size: 1.8vw;
    margin-bottom: 1vh;
}

.avatar.examples-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

img.avatar.examples {
    width: 6vw;
    height: fit-content;
    border: 3px solid transparent;
}

img.avatar.examples:hover {
    cursor: pointer;
    border: 3px solid #29ABE2;
}
