/* customGameList */
.custom-game-list {
    overflow: hidden;
}

/* content-wrapper */
.custom-game-list#content-wrapper {
    height: calc(100% - 20vh);
    color: white;
}

/* game-room-list */
.game-room-list#list-wrapper {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 4vh 5vw;
}

/* game-mode-toggle */
.game-mode-toggle#toggle {
    opacity: 0.7;
    font-size: 2vw;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: fit-content;
    bottom: calc(10vh + 3vw); /* 10vh: footer의 height 절반 , 3vw: 2.7이 footer의 font사이즈 인데 0.3 더 늘임 */
    z-index: 1;
}

.game-mode-toggle ul {
    background: #0000009c;
}

.game-mode-toggle li {
    padding: 1rem;
    color: #aaaaaa;
}

#room-filter {
    padding: 1vh 0vw;
}

/* room-info */
.room-info {
    font-size: 1.8vw;
    display: grid;
    grid-template-columns: 3fr 7fr;
    border-radius: 10px;
    width: 100%;
}

.game-room-list.room-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.game-room-list.column:first-child {
    display: grid;
    align-content: center;
}

.game-room-list.row:first-child {
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 3.5vh;
}

.game-room-list.row:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 3.5vh;
}

.game-room-list.game-mode-name {
    display: grid;
    justify-content: space-around;
}

.game-room-list.game-mode {
    display: grid;
    justify-content: center;
}

/* resize photo */
.game-room-list.is-secret {
    width: 3vw;
    object-fit: cover;
}

#game-mode-image {
    width: 8vw;
    object-fit: cover;
}

/* pageNation */
.custom-game-list#pagination-arrow-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 10vh;
}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.7vw;
    height: 20vh;
}