/* customGameList */
.custom-game-list {
    overflow: hidden;
}

/* content-wrapper */
.custom-game-list#content-wrapper {
    height: calc(100% - 20vh);
    color: white;
}

/* game-room-list */


.game-room-list#game-room-list-wrapper {
    height: 100%;
}

.game-room-list.game-mode {
    width:100%;
}

.game-room-list#list-wrapper {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* room-info */
.room-info {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.game-room-list.row:first-child {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.game-room-list.row:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* resize photo */
.game-room-list.is-secret {
    width: 3vw;
    object-fit: cover;
}

#game-mode-image {
    width: 8vw;
    object-fit: cover;
}

/* pageNation */
.custom-game-list#pagination-arrow-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    height: 20vh;
}