.errorPage-container {
    width: 100vw;
    height: 88vh;
    position: relative;
    background: #0000AA;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error-code {
    color: rgba(0, 0, 0, 0.20);
    font-size: 130px;
    font-family: 'Galmuri11-Bold', serif;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 14vh;
}

.error-comment {
    color: white;
    font-size: 70px;
    font-family: 'Galmuri11-Bold', serif;
    font-weight: 700;
    word-wrap: break-word;
}
