.histories#content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: black;
    background-image: url("../images/histories_frame.png");
    background-size: 100% 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

.histories#list {
    height: 100%;
}

.histories#pagination, .histories#pagination a {
    display: inline-block;
    height: 6vh;
}

.histories#pagination > .histories img {
    height: 100%;
}

.histories#pagination > .histories#prev img {
    transform: rotate(180deg);
}

.histories#pagination#next {
}

.histories#mode {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 20.5vh;
    font-size: 2rem;
}

.histories#mode a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Galmuri11, serif;
    text-decoration: none;
}

.histories#mode > a img {
    width: 7vh;
    margin-right: 2vh;
}

.histories#mode > a:hover {
    font-family: Galmuri11-Bold, serif;
    color: #29ABE2;
}
