.histories#content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: black;
    background-image: url("../images/histories_frame.png");
    background-size: 100% 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

/************* Histories List *************/

.histories#list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 66.6vh;
    color: white;
}

.histories#list-wrapper {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 1vh;
    width: 80%;
    height: 100%;
    padding-bottom: 3vh;
}

.histories.list-item {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    border: 3px transparent solid;
    border-radius: 1vw;
    text-decoration: none;
    width: 80%;
    padding: 1vh 1vw;
}

.histories.list-item:visited, .histories.list-item:link, .histories.list-item:active {
    color: white;
}

.histories.list-item .player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10vw;
    border-radius: 1vh;
}

.histories.list-item .player > div:not(:first-child) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.histories.list-item .histories.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 8vw;
    height: 8vw;
    overflow: hidden;
}

.histories.list-item .histories.avatar > img {
    position: absolute;
    top: 0.1vw;
    width: 12vw;
    height: 12vw;
}

.histories.list-item .player > div:not(:last-child) {
    margin-bottom: 1vh;
}

.histories.list-item .game-mode {
    width: 20%;
}

.histories.list-item .histories.nickname {
    font-family: Galmuri11-Bold, serif;
    font-size: 1.3em;
}

.histories.list-item .histories.rating {
    font-family: Galmuri11, serif;
    font-size: 1.1em;
    text-align: center;
}

/********** Histories Pagination **********/

.histories#pagination {
    text-align: center;
    height: 100%;
    z-index: 1;
}

.histories#pagination div {
    display: inline-block;
    height: 100%;
    text-align: center;
}

.histories#pagination > img {
    height: 10vh;
    margin: 6vh 0.5vw 0 0;
}

.histories#pagination > #prev {
    transform: rotate(180deg);
}

.histories#pagination#next {
}

/********** Histories Mode Select **********/

.histories#mode {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: fit-content;
    font-size: 1.5rem;
    margin-top: 2.5vh;
    padding: 1vh 0;
}

.histories#mode div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Galmuri11, serif;
}

.histories#mode div:not(:last-child) {
    margin-right: 3vw;
}

.histories#mode > div img {
    width: 3rem;
    margin-right: 2vh;
}

.histories#mode #custom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.histories#mode #custom #custom-toggle {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    top: calc(16vh + 1.5rem + 1rem + 3px); /* 16vh: header height, 1.5rem: nav font-size, 1rem: <li> padding, 3px: <ul> border */
    z-index: 1;
}

.histories#mode #custom #custom-toggle ul {
    border: 3px solid #29ABE2;
    background: #0000009c;
}

.histories#mode #custom #custom-toggle li {
    padding: 1rem;
    color: #aaaaaa;
}

/************ Histories Search *************/
.histories#search-wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    margin-left: 25vw;
    bottom: 5vh;
    align-items: center;
}

.histories#search-wrapper > img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5vw;
}

.histories#search-wrapper > #search {
    background-color: black;
    border: 3px solid #FF52A0;
    font-family: Galmuri11, serif;
    font-size: 1.5rem;
    width: 16rem;
    color: white;
    padding: 0.5rem;
}

/************ Histories Footer *************/
footer.histories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 21.5vh;
    margin-top: 2vh;
}
