.login-wrapper {
  background-image: repeating-linear-gradient(0deg, #191d40, #191d40 15px, #0D092C 15px, #191d40 16px);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

#app .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arcade-machine {
  position: relative;
  display: flex;
  justify-content: center;
  height: 88vh;
  width: 55vw;
  perspective: 35em;
}

.arcade-machine .top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13.5vh;
  width: 38.5vw;
  background: #024959;
  border: 0.5vw solid #4c4c4c;
  z-index: 3;
}

.top h1 {
  font-family: "Vibur", sans-serif;
  font-size: 3.5vw;
  color: #fff;
  margin-top: 2vh;
  text-shadow:
  0 0 7px #DA0C81,
  0 0 10px #DA0C81,
  0 0 92px #DA0C81,
  0 0 21px #DA0C81,
  0 0 42px #DA0C81,
  0 0 82px #DA0C81,
  0 0 102px #DA0C81,
  0 0 151px #DA0C81;
}

.arcade-machine .top:before, .arcade-machine .top:after {
  height: 14vh;
  width: 2.5vw;
  position: absolute;
  top: -1vh;
  background: #DA0C81;
  border: 0.5vw solid #4c4c4c;
  content: " ";
}

.arcade-machine .top:before {
  left: -6%;
}

.arcade-machine .top:after {
  right: -6%;
}

.arcade-machine .screen-container {
  position: absolute;
  height: 50%;
  width: 34vw;
  top: 15%;
  background: #4b5b61;
  border: 5px solid #4c4c4c;
}
.arcade-machine .screen-container:before, .arcade-machine .screen-container:after {
  height: 44.5vh;
  width: 2.5vw;
  position: absolute;
  top: -1vh;
  background: #DA0C81;
  content: " ";
  border: 0.5vw solid #4c4c4c;
}

.arcade-machine .screen-container:before {
  left: -6%;
}
.arcade-machine .screen-container:after {
  right: -6%;
}

.arcade-machine .screen-container .shadow {
  height: 8%;
  width: 110%;
  position: absolute;
  top: 0%;
  left: -5%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.arcade-machine .screen-container .screen {
  position: relative;
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 27vw;
  top: 10%;
  left: 10%;
  background: #313332;
  border: 0.3vw solid #4c4c4c;
  border-radius: 90px 93px 93px 93px/15px 15px 15px 15px;
  overflow: hidden;
}

.arcade-machine .screen-container .screen-display {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(0deg, #313332, #313332 15px, #4a4d4c 15px, #4a4d4c 16px);
  animation: translate 1s infinite;
}

.arcade-machine .screen-container .screen h2 {
  position: fixed;
  font-size: 2.7vw;
  color: #e0e0e0;
  font-family: "Orbitron", sans-serif, sans-serif;
  cursor: pointer;
}

.arcade-machine .screen-container .screen h2#google {
  height: 3vh;
  top: 38vh;
}

.arcade-machine .screen-container .screen h2#forty-two {
  height: 3vh;
  top: 44vh;
}

.arcade-machine .screen-container .joystick {
  height: 3.5vh;
  width: 2.2vw;
  background: #DA0C81;
  position: absolute;
  top: 98%;
  left: 6vw;
  border-radius: 50%;
  border: 0.5vw solid #4c4c4c;
  z-index: 3;
}
.arcade-machine .screen-container .joystick:before {
  height: 90%;
  width: 65%;
  position: absolute;
  top: 7%;
  left: 32%;
  background: #ac0b66;
  content: "";
  border-radius: 50%;
}
.arcade-machine .screen-container .joystick .stick {
  height: 200%;
  width: 40%;
  position: absolute;
  top: 100%;
  left: 30%;
  background: #4c4c4c;
  content: "";
}

.arcade-machine .screen-container .joystick .stick:before {
  height: 100%;
  width: 150%;
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  left: -20%;
  background: #4c4c4c;
  content: "";
}

.arcade-machine .board {
  position: absolute;
  height: 20vh;
  width: 37vw;
  top: 52.2vh;
  background: #4b5b61;
  transform: rotateX(70deg);
}

.arcade-machine .board:before, .arcade-machine .board:after {
  height: 96%;
  width: 2.8vw;
  position: absolute;
  background: #DA0C81;
  content: " ";
  border: 0.5vw solid #4c4c4c;
}

.arcade-machine .board:before {
  left: -6.5%;
}

.arcade-machine .board:after {
  right: -6.5%;
}

.arcade-machine .board .button {
  height: 20%;
  width: 6%;
  position: absolute;
  top: 47%;
  left: 30%;
  border-radius: 50%;
  border: 0.3vw solid #4c4c4c;
}
.arcade-machine .board .button-a {
  background: #DA0C81;
  left: 40%;
}
.arcade-machine .board .button-b {
  background: #DA0C81;
  left: 55%;
}
.arcade-machine .board .button-c {
  background: #DA0C81;
  left: 70%;
}
.arcade-machine .bottom {
  position: absolute;
  height: 10vh;
  width: 43vw;
  top: 68vh;
  background: #024959;
  border: 0.5vw solid #4c4c4c;
}

.arcade-machine .bottom:before, .arcade-machine .bottom:after {
  height: 9.8vh;
  width: 2.8vw;
  position: absolute;
  top: -0.7vh;
  background: #DA0C81;
  content: " ";
  border: 0.5vw solid #4c4c4c;
}
.arcade-machine .bottom:before {
  left: -7%;
}
.arcade-machine .bottom:after {
  right: -7%;
}

.alien-container {
  position: absolute;
  top: 20%;
  left: 35%;
  height: 30%;
  width: 30%;
  animation: bounce 0.8s infinite;
}

.alien .ear {
  position: absolute;
  top: 14%;
  height: 13%;
  width: 10%;
  background: #b4deec;
}
.alien .ear-left {
  left: 35%;
}
.alien .ear-right {
  right: 35%;
}
.alien .ear:before {
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  background: #b4deec;
  content: "";
}
.alien .ear-left:before {
  left: -100%;
}
.alien .ear-right:before {
  right: -100%;
}
.alien .head-top {
  position: absolute;
  top: 26%;
  left: 20%;
  height: 15%;
  width: 60%;
  background: #b4deec;
}
.alien .head {
  position: absolute;
  top: 40%;
  left: 11.5%;
  height: 15%;
  width: 77%;
  background: #b4deec;
}
.alien .head .eye {
  position: absolute;
  top: -5%;
  height: 77%;
  width: 12%;
  background: #313332;
}
.alien .head .eye-left {
  left: 25%;
}
.alien .head .eye-right {
  right: 25%;
}
.alien .body {
  position: absolute;
  top: 54%;
  left: 10%;
  height: 20%;
  width: 80%;
  background: #b4deec;
}
.alien .body:before, .alien .body:after {
  height: 220%;
  width: 13%;
  background: #b4deec;
  position: absolute;
  content: "";
}
.alien .body:before {
  left: -10%;
}
.alien .body:after {
  right: -10%;
}
.alien .arm {
  position: absolute;
  top: 85%;
  height: 13%;
  width: 10%;
  background: #b4deec;
}
.alien .arm-left {
  left: 35%;
}
.alien .arm-right {
  right: 35%;
}
.alien .arm:before {
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  background: #b4deec;
  content: "";
}
.alien .arm-left:before {
  left: -100%;
}
.alien .arm-right:before {
  right: -100%;
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes translate {
  from {
    top: 0;
  }
  to {
    top: 10%;
  }
}