body {
  background-image: repeating-linear-gradient(0deg, #191d40, #191d40 15px, #0D092C 15px, #191d40 16px);
  
  height: 100%; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 110vh;
}

.arcade-machine {
  height: 800px;
  width: 800px;
  position: relative;
  perspective: 35em;
}

.arcade-machine .top {
  height: 15%;
  width: 70%;
  position: absolute;
  top: 0%;
  left: 15%;
  background: #024959;
  border: 5px solid #4c4c4c;
  z-index: 3;
}

.top h1 {
  font-family: "Vibur", sans-serif;
  font-size: 3em;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  text-shadow:
  0 0 7px #DA0C81,
  0 0 10px #DA0C81,
  0 0 21px #DA0C81,
  0 0 42px #DA0C81,
  0 0 82px #DA0C81,
  0 0 92px #DA0C81,
  0 0 102px #DA0C81,
  0 0 151px #DA0C81;
}

.arcade-machine .top:before, .arcade-machine .top:after {
  height: 100%;
  width: 4%;
  position: absolute;
  top: -5%;
  background: #DA0C81;
  border: 5px solid #4c4c4c;
  content: " ";
}
.arcade-machine .top:before {
  left: -6%;
}
.arcade-machine .top:after {
  right: -6%;
}
.arcade-machine .stripes:before, .arcade-machine .stripes:after {
  height: 100%;
  width: 90%;
  position: absolute;
  top: 10%;
  content: " ";
}
.arcade-machine > .shadow {
  height: 85%;
  width: 65%;
  position: absolute;
  top: 2%;
  left: 19%;
  background: #4b5b61;
  box-shadow: 0 0 60px #4b5b61;
  z-index: -1;
}

.arcade-machine .screen-container {
  height: 50%;
  width: 62%;
  position: absolute;
  top: 15%;
  left: 19%;
  background: #4b5b61;
  border: 5px solid #4c4c4c;
  z-index: 1;
}
.arcade-machine .screen-container:before, .arcade-machine .screen-container:after {
  height: 100%;
  width: 4%;
  position: absolute;
  top: -1%;
  background: #DA0C81;
  content: " ";
  border: 5px solid #4c4c4c;
  z-index: 2;
}
.arcade-machine .screen-container:before {
  left: -6%;
}
.arcade-machine .screen-container:after {
  right: -6%;
}
.arcade-machine .screen-container .shadow {
  height: 8%;
  width: 110%;
  position: absolute;
  top: 0%;
  left: -5%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 4;
}
.arcade-machine .screen-container .screen {
  height: 79%;
  width: 80%;
  position: absolute;
  top: 9%;
  left: 9%;
  background: #313332;
  border: 5px solid #4c4c4c;
  border-radius: 90px 93px 93px 93px/15px 15px 15px 15px;
  overflow: hidden;
  text-align: center;
}
.arcade-machine .screen-container .screen-display {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(0deg, #313332, #313332 15px, #4a4d4c 15px, #4a4d4c 16px);
  animation: translate 1s infinite;
}

.arcade-machine .screen-container .screen h2 {
  position: absolute;
  font-size: 2em;
  left: 25%;
  color: #e0e0e0;
  font-family: "Orbitron", sans-serif, sans-serif;
}

.arcade-machine .screen-container .screen h2#google {
  left: 25%;
  top: 50%;
}

.arcade-machine .screen-container .screen h2#forty-two {
  left: 34%;
  top: 65%;
}

.arcade-machine .screen-container .joystick {
  height: 6%;
  width: 5%;
  background: #DA0C81;
  position: absolute;
  top: 91%;
  left: 17%;
  border-radius: 50%;
  border: 5px solid #4c4c4c;
  z-index: 3;
}
.arcade-machine .screen-container .joystick:before {
  height: 90%;
  width: 65%;
  position: absolute;
  top: 7%;
  left: 32%;
  background: #ac0b66;
  content: "";
  border-radius: 50%;
}
.arcade-machine .screen-container .joystick .stick {
  height: 200%;
  width: 40%;
  position: absolute;
  top: 100%;
  left: 30%;
  background: #4c4c4c;
  content: "";
}
.arcade-machine .screen-container .joystick .stick:before {
  height: 100%;
  width: 150%;
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  left: -20%;
  background: #4c4c4c;
  content: "";
}
.arcade-machine .board {
  height: 20%;
  width: 70%;
  position: absolute;
  top: 61%;
  left: 16%;
  background: #4b5b61;
  transform: rotateX(70deg);
}
.arcade-machine .board:before, .arcade-machine .board:after {
  height: 96%;
  width: 4.5%;
  position: absolute;
  top: -1%;
  background: #DA0C81;
  content: " ";
  border: 5px solid #4c4c4c;
  z-index: 2;
}
.arcade-machine .board:before {
  left: -6%;
}
.arcade-machine .board:after {
  right: -5%;
}
.arcade-machine .board .button {
  height: 15%;
  width: 6%;
  position: absolute;
  top: 40%;
  left: 30%;
  border-radius: 50%;
  border: 5px solid #4c4c4c;
}
.arcade-machine .board .button-a {
  background: #DA0C81;
  left: 40%;
}
.arcade-machine .board .button-b {
  background: #DA0C81;
  left: 55%;
}
.arcade-machine .board .button-c {
  background: #DA0C81;
  left: 70%;
}
.arcade-machine .bottom {
  height: 10%;
  width: 80.6%;
  position: absolute;
  top: 78.2%;
  left: 9.8%;
  background: #024959;
  border: 5px solid #4c4c4c;
}
.arcade-machine .bottom:before, .arcade-machine .bottom:after {
  height: 98%;
  width: 5%;
  position: absolute;
  top: -4.5%;
  background: DA0C81;
  content: " ";
  border: 5px solid #4c4c4c;
  z-index: 2;
}
.arcade-machine .bottom:before {
  left: -5.8%;
}
.arcade-machine .bottom:after {
  right: -5.9%;
}

.alien-container {
  position: absolute;
  top: 20%;
  left: 35%;
  height: 30%;
  width: 30%;
  animation: bounce 0.8s infinite;
}

.alien .ear {
  position: absolute;
  top: 14%;
  height: 13%;
  width: 10%;
  background: #b4deec;
}
.alien .ear-left {
  left: 35%;
}
.alien .ear-right {
  right: 35%;
}
.alien .ear:before {
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  background: #b4deec;
  content: "";
}
.alien .ear-left:before {
  left: -100%;
}
.alien .ear-right:before {
  right: -100%;
}
.alien .head-top {
  position: absolute;
  top: 26%;
  left: 20%;
  height: 15%;
  width: 60%;
  background: #b4deec;
}
.alien .head {
  position: absolute;
  top: 40%;
  left: 11.5%;
  height: 15%;
  width: 77%;
  background: #b4deec;
}
.alien .head .eye {
  position: absolute;
  top: -5%;
  height: 77%;
  width: 12%;
  background: #313332;
}
.alien .head .eye-left {
  left: 25%;
}
.alien .head .eye-right {
  right: 25%;
}
.alien .body {
  position: absolute;
  top: 54%;
  left: 10%;
  height: 20%;
  width: 80%;
  background: #b4deec;
}
.alien .body:before, .alien .body:after {
  height: 220%;
  width: 13%;
  background: #b4deec;
  position: absolute;
  content: "";
}
.alien .body:before {
  left: -10%;
}
.alien .body:after {
  right: -10%;
}
.alien .arm {
  position: absolute;
  top: 85%;
  height: 13%;
  width: 10%;
  background: #b4deec;
}
.alien .arm-left {
  left: 35%;
}
.alien .arm-right {
  right: 35%;
}
.alien .arm:before {
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  background: #b4deec;
  content: "";
}
.alien .arm-left:before {
  left: -100%;
}
.alien .arm-right:before {
  right: -100%;
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes translate {
  from {
    top: 0;
  }
  to {
    top: 10%;
  }
}