.register-header-wrapper {
    width: 100vw;
    height: 12vh;
    background: #191D40;
}

.register-container {
    width: 100vw;
    height: 88vh;
    background: #191D40;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    color: #FBFF3E;
    font-size: 8vh;
    font-family: 'Galmuri11', serif;
    font-weight: 700;
}

.white-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 45vw;
    height: 50vh;
    background-color: #191D40;
    border: 2px solid white;
}

.prompt-text {
    margin-top: 6vh;
    text-align: center;
    color: white;
    font-size: 8vh;
    font-family: 'Galmuri11', serif;
}

.register-input {
    margin-top: 5vh;
    text-align: center;
    font-family: 'Galmuri11', serif;
    font-size: 5vh;
    height: 10vh;
    width: 30vw;
}

.error-message {
    margin-top: 3vh;
    text-align: center;
    color: red;
    font-size: 3vh;
    font-family: 'Galmuri11-Bold', serif;
}

.resend-auth-btn {
    color: white;
    font-size: 3vh;
    margin-top: 3vh;
    font-family: Galmuri11, serif;
    cursor: pointer;
}