asgiref==3.7.2
Django==4.2.8
django-debug-toolbar==4.2.0
django-environ==0.11.2
djangorestframework==3.14.0
drf-yasg==1.21.7
inflection==0.5.1
packaging==23.2
pillow==10.2.0
psycopg==3.1.16
psycopg2-binary==2.9.9
python-environ==0.4.54
python-json-logger==2.0.7
python-logstash==0.4.8
pytz==2023.3.post1
PyYAML==6.0.1
setuptools==69.0.3
sqlparse==0.4.4
typing_extensions==4.9.0
uritemplate==4.1.1
