header {
    width: 100vw;
    height: 12vh;
    font-family: Galmuri11-Bold, serif;
    font-size: 2rem;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 5rem;
    width: 100%;
    height: 100%;
}

.header-wrapper .histories > div {
    width: fit-content;
}

.header-wrapper .histories#left-side, .header-wrapper .histories#right-side {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 30%;
    height: 100%;
}

.header-wrapper .histories#left-side {
    justify-content: flex-start;
}

.header-wrapper .histories#right-side {
    justify-content: flex-end;
}

.header-wrapper .histories#left-side > img {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
}

.header-wrapper .histories#search-box {
    display: flex;
    width: fit-content;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header-wrapper .histories#search-box > input {
    width: 15rem;
    height: 50%;
    border-radius: 1rem;
    border: 4px #FF79C5 solid;
    background: none;
    color: white;
    font-size: 1.5rem;
    padding: 0 1rem;
    font-family: Galmuri11, system-ui;
}

.header-wrapper .histories#title {
    text-align: center;
    color: #29ABE2;
}

.header-wrapper .histories#user-avatar {
    position: relative;
    width: 4rem;
    height: 4rem;
    border: 4px solid white;
    overflow: hidden;
    margin-right: 5rem;
}

.header-wrapper .histories#user-avatar > img {
    position: absolute;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.header-wrapper .histories#close-button {
    display: block;
    background-image: url("../../images/close.png");
    background-position: center;
    width: 3rem;
    height: 3rem;
}
