header {
    width: 100vw;
    height: 12vh;
    font-family: Galmuri11-Bold, serif;
    font-size: 2em;
    color: white;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 5em;
    width: 100%;
    height: 100%;
}

.header-wrapper .main > div {
    width: fit-content;
}

.header-wrapper .main#left-side, .header-wrapper .main#right-side {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 30%;
    height: 100%;
}

.header-wrapper .main#left-side {
    justify-content: flex-start;
}

.header-wrapper .main#right-side {
    justify-content: flex-end;
}

.header-wrapper .main#go-back {
    display: block;
    transform: rotate(180deg);
    width: 8vh;
}

.header-wrapper .main#title {
    text-align: center;
    color: #FBFF3E;
    font-size: 4vh;
}

.header-wrapper .main#right-side > #user-info {
    display: flex;
    align-items: center;
}

.header-wrapper .main#right-side > #user-info > * {
    margin-right: 3vh;
}

.header-wrapper .main#right-side > #user-info > #user-avatar {
    width: 6vh;
}

.header-wrapper .main#right-side > #user-info > #user-name {
    font-size: 2vh;
}

.header-wrapper .main#right-side > #friends {
    width: 8vh;
}

#title:hover, #go-back:hover, #user-info:hover, #friends:hover {
    cursor: pointer;
}
