@font-face {
    font-family: 'Galmuri11';
    src: url('Galmuri11.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Galmuri11-Bold';
    src: url('Galmuri11-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Galmuri11-Condensed';
    src: url('Galmuri11-Condensed.ttf') format('truetype');
    font-weight: normal;
}